<h1> <%= @post.title%><br></h1>

<p> <%= @post.content %> </p>

<% @post.categories.each do |category| %><br>
    <%= category.name%>
<% end %>

<% @post.comments.each do |comment| %>
    <%= comment.content%>
<% end %><br>
<ul>
<% @post.users.each do |user| %>
    <li><%= user.username %>/<li>
</ul>
<% end %>